.header{
    margin-bottom: 1.5rem;
}

.text-header{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 425px){
    .text-header{
        padding-top: 1rem;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 320px){
    .text-header{
        font-size: 2rem;
    }
}
